*{
    padding: 0;
    margin: 0;
}
.navbar{
    height: 10vh;
    width: 100vw;
    /* background-color: rgb(192, 122, 122); */
}
ul{
    /* align-items: center; */
    display: flex;
    

}
li{
    display: flex;
    color: bisque;
}
a{
  color: black;
  font-size: xx-large;  
    text-decoration: none;
    font-weight: bolder;
    padding: 22px;
}
a:hover{
    color: aqua;
}
.hero{
    display: flex;
    position: relative;
    background-color: rgb(112, 126, 202);
    /* align-items: center;
    justify-content: center; */
}
 .hero img{
    padding-top: 22px;
    padding-bottom: 24px;
    align-items: right;
    justify-content: start;
 }
 .text{
    margin-top: 8em;
    padding-left: 4px;
 }
 .para{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
 }
 .para button{
    width: 260px;
    height: 40px;
    color: blue;
 }
 .main{
    margin-top: 4em;
    height: 80vh;
    width: 99vw;
    display: flex;
    background-color: rgb(112, 126, 202);
    position: relative;
 align-items: center;
 justify-content: center;
 }
 .card{
    /* text-align: center;
    justify-content: center; */
    /* padding-left: 60px; */
     padding-left: 50px;
 }
@media only screen and (max-width:1000px){
.main{
    display: block;
    justify-content: flex-start;
    float: left;
    height: 190vh;
    width: 100vw;
}
li{
    display: block;
}
}
/* @media ONLY screen AND (MAX-WIDTH:1000PX){
    .hero{
        /* display: block; */
        /* height: 160vh;
        width: 120vw; */
     */

@media only screen and (max-width:700px) {
    .text {
        padding-left: 12em;
        margin-left: 12em;
        display: inline;
    }
    .hero{
        background-color: rgb(112, 126, 202);
        display: block;
        justify-content: flex-start;
        float: left;
        /* height: 100vh; */
        width: 110vw;
        display: block;
        /* justify-content: center;
        align-items: center;
        text-align: center;
        width: 888vw; */
     }
     @media only screen and (max-width:700px) {
        .main{
            width: 110vw;
        }
        
     }
}
@media only screen and(max-width:400px) {
    .para {
        padding-left: 12em;
        margin-left: 12em;
    }
    .end{
        width: 140px;
    }
}